@model (string Url, string UserId)

<div id="post-feed" class="d-grid gap-3"></div>

<div id="loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

@Html.PartialSectionScripts(
    @<text>
        <script src="~/js/post-feed.js" asp-append-version="true"></script>
        <script src="~/js/reactions.js" asp-append-version="true"></script>
        <script src="~/js/comment.js" asp-append-version="true"></script>
        <script>
            $(function () {
                PostFeedJs.init('#post-feed', '@Model.Url', '@Model.UserId', '@DateTime.UtcNow.AddMinutes(1)', 10, '@Html.AntiForgeryToken()');
                CommentJs.init('/api/Post/Comments', 10, '@Html.AntiForgeryToken()');
            })
        </script>
    </text>
)