@page "{username}"
@using Humanizer
@model MicroBlog.Web.Pages.User.IndexModel
@{
    if (Model.SameUser)
    {
        ViewData[nameof(NavPageType)] = NavPageType.Profile;
    }
}

<div class="container d-flex gap-2 shadow p-3 mb-3">
    <div class="profile-picture-200-container flex-shrink-0 rounded">
        <img src="@Model.ViewUser.ProfilePictureUrl" />
    </div>
    <div class="flex-grow-1">
        <div class="d-flex align-items-end gap-2">
            <h3 class="m-0">@Model.ViewUser.UserName</h3>
            @if (Model.ViewUser.LastSeen.HasValue)
            {
                <partial name="Shared/User/_OnlineStatus" model="@Model.ViewUser.LastSeen.Value" />
            }
        </div>
        <p>@Model.ViewUser.Description</p>
    </div>
</div>

<div class="d-flex gap-2 mb-3">
    @if (Model.SameUser)
    {
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPostModal">
            Create post
        </button>
    }
    else
    {
        @if (Model.BlockedFromUser)
        {
            <h5 class="text-danger">The user has blocked you.</h5>
        }
        else
        {
            <partial name="Shared/User/_Subscribe" model="@(Model.Subscribed, Model.Blocked, Model.ViewUser.Id)" />
            <partial name="Shared/User/_Block" model="@(Model.Blocked, Model.ViewUser.Id)" />
        }
    }
</div>

<partial name="Post/_UserPostFeed" model="@("/api/Post/FromUser", Model.ViewUser.Id)" />

<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPostModalLabel">Create post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-page-handler="CreatePost" method="post">
                <div class="modal-body p-0">
                    <div class="form-floating m-2">
                        <input asp-for="CreatePostInput.Title" class="form-control" placeholder="Title" />
                        <label asp-for="CreatePostInput.Title" class="form-label">Title</label>
                        <span asp-validation-for="CreatePostInput.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="CreatePostInput.Content" class="summernote-input"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/summernote.js" asp-append-version="true"></script>
    <script src="~/js/subscribe.js" asp-append-version="true"></script>
    <script src="~/js/block.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function () {
            SummernoteJs.init('.summernote-input', '/api/Image/Upload');
            SubscribeJs.init();
            BlockJs.init();
        });
    </script>
}